
@{
    Layout = null;
}

<table class="table table-striped table-bordered table-hover table-responsive">

    <tr>
        <td colspan="4">
            <div class="caption">
                <i class="icon-settings font-green"></i>
                <span class="caption-subject font-green sbold uppercase">General Details</span>
            </div>
        </td>
    </tr>
    <tr>
        <td>
            <label class="control-label"><strong>Addendum Notice No</strong></label>
        </td>
        <td>
            <input type="text" class="form-control" id="txtAddendNoticeNo" readonly />
        </td>

        <td>
            <label class="control-label"><strong>Document Date</strong></label>
        </td>
        <td>
            <input type="text" class="form-control"  id="txtDocumentDte" readonly />
        </td>
    </tr>

<tr>
    <td>
        <label class="control-label"><strong>Tender Description</strong></label>
    </td>
    <td colspan="3">
        <input type="text" class="form-control"  id="txtTenderDescription" readonly />
    </td>

</tr>
    
<tr>
    <td>
        <label class="control-label"><strong>Invitation Notice No</strong></label>
    </td>
    <td>
        <input type="text" class="form-control" id="txtInvNoticeNo" readonly />
    </td>

    <td>
        <label class="control-label"><strong>Responsibility Center</strong></label>
    </td>
    <td>
        <input type="text" class="form-control"  id="txtResponsibilityCenter" readonly />
    </td>
</tr>
    
<tr>
    <td>
        <label class="control-label"><strong>Addendum Instructions</strong></label>
    </td>
    <td colspan="3">
        <input type="text" class="form-control"  id="txtAddendumInstruct" readonly />
    </td>
</tr>

<tr>
    <td>
        <label class="control-label"><strong>Description</strong></label>
    </td>
    <td colspan="3">
        <input type="text" class="form-control" id="txtDescription" readonly />
    </td>
</tr>
</table>

<div class="caption">
        <i class="icon-settings font-green"></i>
        <span class="caption-subject font-green sbold uppercase">Ammendment summary</span>
</div>

<table class="table table-striped table-bordered table-hover table-responsive" id="tbl_addendum_summary">
    <thead>
    <tr>
        <th>Ammendment Type</th>
        <th>Description</th>
        <th>Tender Document Section</th>
    </tr>
    </thead>
    <tbody></tbody>
</table>

<table class="table table-striped table-bordered table-hover table-responsive">

    <tr>
        <td colspan="4">
            <div class="caption">
                <i class="icon-settings font-green"></i>
                <span class="caption-subject font-green sbold uppercase">Critical Dates</span>
            </div>
        </td>
    </tr>
    <tr>
        <td>
            <label class="control-label"><strong>Submision End Date</strong></label>
        </td>
        <td>
            <input type="text" class="form-control" id="txtSubstartDate" readonly />
        </td>

        <td>
            <label class="control-label"><strong>Bid Opening Time</strong></label>
        </td>
        <td>
            <input type="text" class="form-control"  id="txtBidOpentime" readonly />
        </td>
    </tr>
    
    <tr>
        <td>
            <label class="control-label"><strong>Submision End Time</strong></label>
        </td>
        <td>
            <input type="text" class="form-control" id="txtSubendTime" readonly />
        </td>

        <td>
            <label class="control-label"><strong>PreBid Meeting Date</strong></label>
        </td>
        <td>
            <input type="text" class="form-control" id="txtPrebidMettingDte" readonly />
        </td>
    </tr>
    
    <tr>
        <td>
            <label class="control-label"><strong>Bid Opening Date</strong></label>
        </td>
        <td>
            <input type="text" class="form-control" id="txtBidopeningDte" readonly />
        </td>

        <td>
            <label class="control-label"><strong>PreBid Meeting Time</strong></label>
        </td>
        <td>
            <input type="text" class="form-control" id="txtPrebidMettingTime" readonly />
        </td>
    </tr>

</table>

   
