
@{
    ViewBag.Title = "ApplyforThisTender";
    Layout = "~/Views/Shared/_EBid_Layout.cshtml";
    var tendorNumber = Request.QueryString["tendorNo"];
}

<section class="content">
    <div class="container-fluid">
        <div class="block-header" id="downloadHeader">
            <h2>APPLY FOR THIS TENDER NO: <strong>@tendorNumber</strong></h2>
            <button type="submit" class="btn btn-primary pull-left btn-sm pull-left rounded btnDownloadTenderLg" tenderNo='@tendorNumber'><i class="fas fa-cloud-download-alt downloadtenderfavicon"></i> Download Tender</button>
        </div>
        <div class="panel panel-table">
            <span id="feedbackMsg" style="display: none"></span><br/>
            <div class="panel-body">
                <div class="col-md-12">
                    <form action="" method="post" enctype="multipart/form-data" id="upld_formtech" name="upld_formtech">
                     
                    </form>
                </div>
            </div>

            <div class="panel-body">
                <div id="bidAmmount">

                    <form action="" method="post" enctype="multipart/form-data" id="upld_form" name="upld_form">
                        <input type="hidden" value="@tendorNumber" id="txtTendorNo"/>
                        <h4><strong>UPLOAD TECHNICAL PROPOSAL</strong></h4>
                        <div class="form-group">
                            <div class="col-md-6">
                                <label class="control-label" style="font-weight: bold;">Technical Proposal</label>
                            </div>
                            <div class="col-md-6">
                                <input type="file" accept="application/msword, application/vnd.ms-excel, application/pdf, image/*" id="inputFileTecDocUplds" name="inputFileTecDocUplds[]" style="display: block" multiple/>&nbsp;
                            </div>
                        </div>
                        
                        <h4><strong>UPLOAD FINANCIAL PROPOSAL</strong></h4>
                        <div class="form-group">
                            <div class="col-md-6">
                                <label class="control-label" style="font-weight: bold;">Financial Proposal</label>
                            </div>
                            <div class="col-md-6">
                                <input type="file" accept="application/msword, application/vnd.ms-excel, application/pdf, image/*" id="inputFileFinacDocUplds" name="inputFileFinacDocUplds[]" style="display: block" multiple/>&nbsp;
                            </div>
                        </div>
                        <h4><strong>OTHER MANDATORY DOCS</strong></h4>
                        <div class="form-group">
                            <div class="col-md-6">
                                <label class="control-label" style="font-weight: bold;">KRA Pin</label>
                            </div>
                            <div class="col-md-6">
                                <input type="file" accept="application/msword, application/vnd.ms-excel, application/pdf, image/*" id="inputFileKraUplds" name="inputFileKraUplds[]" style="display: block" multiple/>&nbsp;
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-6">
                                <label class="control-label" style="font-weight: bold;">Confidential Business Questionnare</label>
                            </div>
                            <div class="col-md-6">
                                <input type="file" accept="application/msword, application/vnd.ms-excel, application/pdf, image/*" id="inputFileCBQUplds" name="inputFileCBQUplds[]" style="display: block"/>&nbsp;
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-6">
                                <label class="control-label" style="font-weight: bold;">Certficate of Registration</label>
                            </div>
                            <div class="col-md-6">
                                <input type="file" accept="application/msword, application/vnd.ms-excel, application/pdf, image/*" id="inputFileCertofRegUplds" name="inputFileCertofRegUplds[]" style="display: block"/>&nbsp;
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-6">
                                <label class="control-label" style="font-weight: bold;">Tax compliance Cert</label>
                            </div>
                            <div class="col-md-6">
                                <input type="file" accept="application/msword, application/vnd.ms-excel, application/pdf, image/*" id="inputFileTxComplyUplds" name="inputFileTxComplyUplds[]" style="display: block"/>&nbsp;
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-6">
                                <span class="btn bg-pink waves-effect rounded pull-left btn-sm">
                                    <i class="fas fa-arrow-circle-left"></i>&nbsp; <a href="/Home/OpenTenders" style="background: none; border: 0"><strong style="color: aliceblue">Back</strong></a>
                                </span>
                            </div>
                            <div class="col-md-6 pull-right">
                                <button type="submit" class="btn bg-pink waves-effect rounded" id="btnApplyTender" style="background: none; border: 0; width: 43em;"><i class="fa fa-save m-r-5">&nbsp;Apply</i></button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="form-group">
                <span id="uploadsMsg" style="display: none"></span><br/>
            </div>

        </div>
    </div>
</section>


