
@{
    ViewBag.Title = "AwardedEOI";
    Layout = "~/Views/Shared/_EBid_Layout.cshtml";}

<section class="content">
    <div class="container-fluid">
        <div class="block-header">
            <h2>MY AWARDED EXPRESSIONS OF INTERESTS</h2>
        </div>
        <div class="table table-responsive" style="background-color: aliceblue;">
            <table class="table table-bordered table-striped table-hover dataTable xportabletable">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Description</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>#</th>
                        <th>Description</th>
                        <td class="text-right">
                            <span class="btn btn-primary pull-left btn-sm">
                                <a href="#" style="background: none; border: 0"><i class="fa fa-pencil m-r-5"></i> Apply</a>
                            </span>
                        </td>
                    </tr>
                </tfoot>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>INSTALLATION, REPAIR AND MAINTAINANCE OF CCTV AND ACCESS CONTROL EQUIPMENT -DUMMY TEST 1</td>
                        <td class="text-right">
                            <span class="btn btn-primary pull-left btn-sm">
                                <a href="#" style="background: none; border: 0"><i class="fa fa-pencil m-r-5"></i> VIEW DETAILS</a>
                            </span>
                        </td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>INSTALLATION, REPAIR AND MAINTAINANCE OF CCTV AND ACCESS CONTROL EQUIPMENT -DUMMY TEST 2</td>
                        <td class="text-right">
                            <span class="btn btn-primary pull-left btn-sm">
                                <a href="#" style="background: none; border: 0"><i class="fa fa-pencil m-r-5"></i> VIEW DETAILS</a>
                            </span>
                        </td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>INSTALLATION, REPAIR AND MAINTAINANCE OF CCTV AND ACCESS CONTROL EQUIPMENT -DUMMY TEST 3</td>
                        <td class="text-right">
                            <span class="btn btn-primary pull-left btn-sm">
                                <a href="#" style="background: none; border: 0"><i class="fa fa-pencil m-r-5"></i> VIEW DETAILS</a>
                            </span>
                        </td>
                    </tr>

            </table>
        </div>
    </div>
</section>

