
@{
    ViewBag.Title = "ChooseAccounttoCreate";
    Layout = "~/Views/Shared/_Signup_Layout.cshtml";
}

<div class="signup-box">
    <div class="row">
        <div class="col-xs-4"></div>
        <div class="col-xs-4">
            <div class="logo">
                <img src="/assets/icons/logo.png" alt="logo" class="imglogo"/>
            </div>
        </div>
        <div class="col-xs-4"></div>

    </div>
   
    <div class="signupcard">
        <div class="body">
            <div class="col-md-6">
                <h4 style="font-weight: normal !important; color: chocolate; font-family: Corbel, Helvetica, sans-serif;">Click the following button to create an Individual Account</h4>
                <span class="btn btn-block bg-pink waves-effect">
                    <i class="fas fa-user-plus"></i>&nbsp; <button type="submit" id="btnCreateIndAccount" style="background: none; border: 0">Create Individual Account</button>
                </span>
            </div>
            <div class="col-md-6">
                <h4 style="font-weight: normal !important; color: chocolate; font-family: Corbel, Helvetica, sans-serif;">Click the following button to create an Individual Account</h4>
                <span class="btn btn-block bg-pink waves-effect">
                    <i class="fas fa-user-plus"></i>&nbsp; <button type="submit" id="btnCreateCorpAccount" style="background: none; border: 0">Create Corporate Account</button>
                </span>
            </div>
            <br/>
            <div class="row"></div>
            <hr/>
            <div class="col-xs-6">
                <span class="btn btn-block bg-pink waves-effect">
                    <i class="fas fa-long-arrow-alt-left"></i> <a href="/home/Login_Eproc" style="background: none; border: 0; color: aliceblue">Back to Login</a>
                </span>
            </div>
            <div class="col-xs-6"></div>
        </div>

    </div>
</div>

