
@{
    Layout = null;
}

<div class="caption">
    <i class="icon-settings font-green"></i>
    <span class="caption-subject font-green sbold uppercase">Major Work Deliverables / Scope</span>
</div>

<table class="table table-striped table-bordered table-hover table-responsive" id="tbl_bid_scope">
    <thead>
    <tr>
        <th>#</th>
        <th>Description</th>
    </tr>
    </thead>
    <tbody></tbody>
</table>


<div class="caption">
    <i class="icon-settings font-green"></i>
    <span class="caption-subject font-green sbold uppercase">Personel Description</span>
</div>
<p>This section summarizes the personnel requirements for this Tender. Please take note of the minimum number of staff
    required for each Project Role and their minimum qualification and experience requirements</p>

<table class="table table-striped table-bordered table-hover table-responsive" id="tbl_bid_personel_descr">
    <thead>
        <tr>
            <th>Staff Role / Code</th>
            <th>Description</th>
            <th>Staff Category</th>
            <th>Min No. of Required Staff</th>
            <th>Requirement Type</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>





<div class="caption">
    <i class="icon-settings font-green"></i>
    <span class="caption-subject font-green sbold uppercase">Equipment Specification</span>
</div>
<p>This section provides the details of the equipment that a contractor is required to provide for the Project Works. Please
    take note of the minimum quantity for each equipment type. The contractor is required to provide documents that support
    the ownership or lease of each equipment, as part of their bid response</p>

<table class="table table-striped table-bordered table-hover table-responsive" id="tbl_equip_specs">
    <thead>
    <tr>
        <th>Equipment Type Code</th>
        <th>Description</th>
        <th>Category</th>
        <th>Minimum Required Quanity</th>
    </tr>
    </thead>
    <tbody></tbody>
</table>

