
@{
    Layout = null;
}
<li class="heading">
    <h3 class="uppercase">Supplier Registration</h3>
</li>
<li class="nav-item">
    <a href="javascript:;" class="nav-link nav-toggle">
        <i class="fas fa-folder-open"></i>
        <span class="title">New Supplier Registration</span>
        <span class="arrow"></span>
    </a>
    <ul class="sub-menu">
        <li class="nav-item">
            <a href="/Home/SupplierCategoriesList" class="nav-link">
                <i class="fas fa-list-alt"></i>
                <span class="title">Category List</span>
                <span class="badge badge-danger">@Session["suppcatcount"]</span>
            </a>
        </li>
        <li class="nav-item">
            <a href="javascript:;" class="nav-link btnlink-reg">
                <i class="fas fa-list-alt"></i>
                <span class="title">Supplier Registration</span>
            </a>
        </li>
    </ul>
</li>

<li class="heading">
    <h3 class="uppercase">e-Prequalification</h3>
</li>
<li class="nav-item  ">
    <a href="javascript:;" class="nav-link nav-toggle">
        <i class="fas fa-folder-open"></i>
        <span class="title">Request for Information</span>
        <span class="arrow"></span>
    </a>
    <ul class="sub-menu">
        <li class="nav-item  ">
            <a href="/Home/RfiResponseForm" class="nav-link">
                <i class="fas fa-list-alt"></i>
                <span class="title">RFI Response Form</span>
            </a>
        </li>
    </ul>
</li>

<li class="heading">
    <h3 class="uppercase">E-Bidding</h3>
</li>
<li class="nav-item">
    <a href="javascript:;" class="nav-link nav-toggle">
        <i class="fas fa-folder-open"></i>
        <span class="title">Tendering</span>
        <span class="arrow"></span>
    </a>
    <ul class="sub-menu">
        <li class="nav-item">
            <a href="/Home/TendersList/" class="nav-link btnlink_active_tnds">
                <i class="fas fa-list-alt"></i>
                <span class="title">Active Tender Invitations</span>
            </a>
        </li>
        
        <li class="nav-item">
            <a href="/Home/SpecialGrpTenders/" class="nav-link btnlink_spg">
                <i class="fas fa-list-alt"></i>
                <span class="title">Reserved for Special Groups </span>
            </a>
        </li>
        
        <li class="nav-item">
            <a href="/Home/TenderByRegion/" class="nav-link btnlink_rgns">
                <i class="fas fa-list-alt"></i>
                <span class="title">Tenders by Regions</span>
            </a>
        </li>
        
        <li class="nav-item ">
            <a href="javascript:;" class="nav-link btnlink_cl_dt">
                <i class="fas fa-list-alt"></i>
                <span class="title">Tenders by Closing Dates</span>
            </a>
        </li>
        
        <li class="nav-item">
            <a href="javascript:;" class="nav-link btnlink_addem_ns">
                <i class="fas fa-list-alt"></i>
                <span class="title">Active Addendum Notices</span>
            </a>
        </li>
        
        <li class="nav-item">
            <a href="#" class="nav-link">
                <i class="fas fa-list-alt"></i>
                <span class="title">Cancelled/Closed Tenders</span>
            </a>
        </li>
        
        <li class="nav-item">
            <a href="#" class="nav-link">
                <i class="fas fa-list-alt"></i>
                <span class="title">Active EOI Invitations</span>
            </a>
        </li>
        
        <li class="nav-item">
            <a href="#" class="nav-link">
                <i class="fas fa-list-alt"></i>
                <span class="title">Contract Awards</span>
            </a>
        </li>
        
        <li class="nav-item">
            <a href="#" class="nav-link">
                <i class="fas fa-list-alt"></i>
                <span class="title">Debarment List</span>
            </a>
        </li>
        
        <li class="nav-item">
            <a href="#" class="nav-link">
                <i class="fas fa-list-alt"></i>
                <span class="title">Announcements</span>
            </a>
        </li>
    </ul>
</li>
