
@{
    Layout = null;
}

<table class="table table-striped table-bordered table-hover table-responsive">

<tr>
    <td colspan="4">
        <div class="caption">
            <i class="icon-settings font-green"></i>
            <span class="caption-subject font-green sbold uppercase">General Tender Requirements</span>
        </div>
    </td>
</tr>
<tr>
    <td>
        <label class="control-label"><strong>Bid security Required</strong></label>
    </td>
    <td>
        <input type="text" class="form-control" name="txtBidsecReq" id="txtBidsecReq" readonly />
    </td>

    <td>
        <label class="control-label"><strong>Performance Security Required</strong></label>
    </td>
    <td>
        <input type="text" class="form-control" name="txtPerfSecReqs" id="txtPerfSecReqs" readonly />
    </td>
</tr>

<tr>
    <td>
        <label class="control-label"><strong>Bid Security Percentage</strong></label>
    </td>
    <td>
        <input type="text" class="form-control" name="txtBidSecPercent" id="txtBidSecPercent" readonly />
    </td>

    <td>
        <label class="control-label"><strong>Performance Security Percentage</strong></label>
    </td>
    <td>
        <input type="text" class="form-control" name="txtPerfSecpercent" id="txtPerfSecpercent" readonly />
    </td>

</tr>

<tr>
    <td>
        <label class="control-label"><strong>Bid Security Amount </strong></label>
    </td>
    <td>
        <input type="text" class="form-control" name="txtBidSecAmnt" id="txtBidSecAmnt" readonly />
    </td>

    <td>
        <label class="control-label"><strong>Advance Payment security Required</strong></label>
    </td>
    <td>
        <input type="text" class="form-control" name="txtAdvpaySecRequired" id="txtAdvpaySecRequired" readonly />
    </td>

</tr>

<tr>
    <td>
        <label class="control-label"><strong>Bid Security Validity Duration</strong></label>
    </td>
    <td>
        <input type="text" class="form-control" name="txtBidSec_validity" id="txtBidSec_validity" readonly />
    </td>

    <td>
        <label class="control-label"><strong>Advance Payment security</strong></label>
    </td>
    <td>
        <input type="text" class="form-control" name="txtAdvPaysecurity" id="txtAdvPaysecurity" readonly />
    </td>
</tr>
    

    
<tr>
    <td>
        <label class="control-label"><strong>Bid Security Validity Expiry Date</strong></label>
    </td>
    <td>
        <input type="text" class="form-control" name="txtBidsecXpDate" id="txtBidsecXpDate" readonly />
    </td>

    <td>
        <label class="control-label"><strong>Advance Amount Limit</strong></label>
    </td>
    <td>
        <input type="text" class="form-control" name="txtAdvAmountLmt" id="txtAdvAmountLmt" readonly />
    </td>
</tr>


<tr>
    <td>
        <label class="control-label"><strong>Insurance Cover Required</strong></label>
    </td>
    <td>
        <input type="text" class="form-control" name="txtInsurcoverRequired" id="txtInsurcoverRequired" readonly />
    </td>

    <td>
        <label class="control-label"><strong>Appointer of Bidder Arbitrator</strong></label>
    </td>
    <td>
        <input type="text" class="form-control" name="txtBiddderArbappointer" id="txtBiddderArbappointer" readonly />
    </td>

</tr>


</table>

<div class="caption">
    <i class="icon-settings font-green"></i>
    <span class="caption-subject font-green sbold uppercase">Bid / Tender Security Requirements</span>
</div>
<p>The section below lists the accepted forms of Bid/Tender security that the tenderer can submit. Please take note of the
validity dates, mimimum value/Amount (In local currency) and the issuing institutions that are acceptable</p>
   

<table class="table table-striped table-bordered table-hover table-responsive" id="tbl_bid_sec_reqs">
    <thead>
    <tr>
        <th>Form of Security</th>
        <th>Security Type</th>
        <th>Nature of Security </th>
        <th>Description</th>
        <th>Minimum Bid Security Amount (K.E.S)</th>
        <th>Bid Security Validity Expiry Date</th>
    </tr>
    </thead>
    <tbody></tbody>
</table>

<table class="table table-striped table-bordered table-hover table-responsive">

    <tr>
        <td colspan="4">
            <div class="caption">
                <i class="icon-settings font-green"></i>
                <span class="caption-subject font-green sbold uppercase">Tender Processing Fees</span>
            </div>
        </td>
    </tr>

    <tr>
        <td>
            <label class="control-label"><strong>Bid Charge Code</strong></label>
        </td>
        <td>
            <input type="text" class="form-control" name="txtBidchrgCode" id="txtBidchrgCode" readonly />
        </td>

        <td>
            <label class="control-label"><strong>Bank Account name</strong></label>
        </td>
        <td>
            <input type="text" class="form-control" name="txtBankaccName" id="txtBankaccName" readonly />
        </td>
    </tr>
    
    
    <tr>
        <td>
            <label class="control-label"><strong>Bid Charge </strong></label>
        </td>
        <td>
            <input type="text" class="form-control" name="txtBidcharge" id="txtBidcharge" readonly />
        </td>

        <td>
            <label class="control-label"><strong>Bid Charge bank Branch</strong></label>
        </td>
        <td>
            <input type="text" class="form-control" name="txtBankBranch" id="txtBankBranch" readonly />
        </td>
    </tr>

    
    <tr>
        <td>
            <label class="control-label"><strong>Bid Charge Bank Code</strong></label>
        </td>
        <td>
            <input type="text" class="form-control" name="txtBidchrgBankCode" id="txtBidchrgBankCode" readonly />
        </td>

        <td>
            <label class="control-label"><strong>Bid Charge Bank Account No</strong></label>
        </td>
        <td>
            <input type="text" class="form-control" name="txtBidBankAccNo" id="txtBidBankAccNo" readonly />
        </td>
    </tr>
    
    <tr>
        <td>
            <label class="control-label"><strong>Bank Name</strong></label>
        </td>
        <td>
            <input type="text" class="form-control" name="txtBankName" id="txtBankName" readonly />
        </td>
    </tr>
</table>


<div class="caption">
    <i class="icon-settings font-green"></i>
    <span class="caption-subject font-green sbold uppercase">Required Documents</span>
</div>

<table class="table table-striped table-bordered table-hover table-responsive" id="tbl_bid_req_docs">
    <thead>
    <tr>
        <th>Document Type ID</th>
        <th>Description</th>
        <th>Track Certificate Expiry </th>
        <th>Requirement Type</th>
    </tr>
    </thead>
    <tbody></tbody>
</table>



<div class="caption">
    <i class="icon-settings font-green"></i>
    <span class="caption-subject font-green sbold uppercase">Preference and Reservation Scheme </span>
</div>

<table class="table table-striped table-bordered table-hover table-responsive" id="tbl_bid_preserv_scheme">
    <thead>
        <tr>
            <th>Restricted Vendor Category ID</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>
