
@{
    Layout = null;
}

<table class="table table-striped table-bordered table-hover table-responsive">

<tr>
    <td colspan="4">
        <div class="caption">
            <i class="icon-settings font-green"></i>
            <span class="caption-subject font-green sbold uppercase">General Tender Requirements</span>
        </div>
    </td>
</tr>
<tr>
    <td>
        <label class="control-label"><strong>Bid security Required</strong></label>
    </td>
    <td>
        <input type="text" class="form-control" name="txtBidsecReq" id="txtBidsecReq" readonly />
    </td>

    <td>
        <label class="control-label"><strong>Performance Security Required</strong></label>
    </td>
    <td>
        <input type="text" class="form-control" name="txtPerfSecReqs" id="txtPerfSecReqs" readonly />
    </td>
</tr>

<tr>
    <td>
        <label class="control-label"><strong>Bid Security Percentage</strong></label>
    </td>
    <td>
        <input type="text" class="form-control" name="txtBidSecPercent" id="txtBidSecPercent" readonly />
    </td>

    <td>
        <label class="control-label"><strong>Performance Security Percentage</strong></label>
    </td>
    <td>
        <input type="text" class="form-control" name="txtPerfSecpercent" id="txtPerfSecpercent" readonly />
    </td>

</tr>

<tr>
    <td>
        <label class="control-label"><strong>Bid Security Amount </strong></label>
    </td>
    <td>
        <input type="text" class="form-control" name="txtBidSecAmnt" id="txtBidSecAmnt" readonly />
    </td>

    <td>
        <label class="control-label"><strong>Advance Payment security Required</strong></label>
    </td>
    <td>
        <input type="text" class="form-control" name="txtAdvpaySecRequired" id="txtAdvpaySecRequired" readonly />
    </td>

</tr>

<tr>
    <td>
        <label class="control-label"><strong>Bid Security Validity Duration</strong></label>
    </td>
    <td>
        <input type="text" class="form-control" name="txtBidSec_validity" id="txtBidSec_validity" readonly />
    </td>

    <td>
        <label class="control-label"><strong>Advance Payment security</strong></label>
    </td>
    <td>
        <input type="text" class="form-control" name="txtAdvPaysecurity" id="txtAdvPaysecurity" readonly />
    </td>
</tr>
    

    
<tr>
    <td>
        <label class="control-label"><strong>Bid Security Validity Expiry Date</strong></label>
    </td>
    <td>
        <input type="text" class="form-control" name="txtBidsecXpDate" id="txtBidsecXpDate" readonly />
    </td>

    <td>
        <label class="control-label"><strong>Advance Amount Limit</strong></label>
    </td>
    <td>
        <input type="text" class="form-control" name="txtAdvAmountLmt" id="txtAdvAmountLmt" readonly />
    </td>
</tr>


<tr>
    <td>
        <label class="control-label"><strong>Insurance Cover Required</strong></label>
    </td>
    <td>
        <input type="text" class="form-control" name="txtInsurcoverRequired" id="txtInsurcoverRequired" readonly />
    </td>

    <td>
        <label class="control-label"><strong>Appointer of Bidder Arbitrator</strong></label>
    </td>
    <td>
        <input type="text" class="form-control" name="txtBiddderArbappointer" id="txtBiddderArbappointer" readonly />
    </td>

</tr>


@*
            <tr>
                <td>
                    <label class="control-label"><strong>Requisition Product Group</strong></label>
                </td>
                <td>
                    <input type="text" class="form-control" name="txtProductGroup" id="txtProductGroup" readonly />
                </td>

                <td>
                    <label class="control-label"><strong>Mandatory Special Group Reserve</strong></label>
                </td>
                <td>
                    <input type="text" class="form-control" name="txtSpecialGrp" id="txtSpecialGrp" readonly />
                </td>

            </tr>

            <tr>
                <td>
                    <label class="control-label"><strong>Lot No</strong></label>
                </td>
                <td>
                    <input type="text" class="form-control" name="txtLotNo" id="txtLotNo" readonly />
                </td>

                <td>
                    <label class="control-label"><strong>Document Status</strong></label>
                </td>
                <td>
                    <input type="text" class="form-control" name="txtDocStatus" id="txtDocStatus" readonly />
                </td>
            </tr>

            <tr>
                <td>
                    <label class="control-label"><strong>Target Bidder Group</strong></label>
                </td>
                <td>
                    <input type="text" class="form-control" name="txtTargetBidder" id="txtTargetBidder" readonly />
                </td>

                <td>
                    <label class="control-label"><strong>Bid Submission Method</strong></label>
                </td>
                <td>
                    <input type="text" class="form-control" name="txtBidSubMethd" id="txtBidSubMethd" readonly />
                </td>
            </tr>

            <tr>
                <td>
                    <label class="control-label"><strong>Bid Selection Method</strong></label>
                </td>
                <td>
                    <input type="text" class="form-control" name="txtBidSelctnMethd" id="txtBidSelctnMethd" readonly />
                </td>

                <td>
                    <label class="control-label"><strong>Language Code</strong></label>
                </td>
                <td>
                    <input type="text" class="form-control" name="txtLanguageCode" id="txtLanguageCode" readonly />
                </td>
            </tr>

            <tr>
                <td colspan="4">
                    <div class="caption">
                        <i class="icon-settings font-green"></i>
                        <span class="caption-subject font-green sbold uppercase">Critical Submission Details</span>
                    </div>
                </td>
            </tr>


            <tr>
                <td>
                    <label class="control-label"><strong>Submission End Date</strong></label>
                </td>
                <td>
                    <input type="text" class="form-control" name="txtSubmisionEndDate" id="txtSubmisionEndDate" readonly />
                </td>

                <td>
                    <label class="control-label"><strong>Address</strong></label>
                </td>
                <td>
                    <input type="text" class="form-control" name="txtAddress2" id="txtAddress2" readonly />
                </td>

            </tr>

            <tr>
                <td>
                    <label class="control-label"><strong>Submission End Time</strong></label>
                </td>
                <td>
                    <input type="text" class="form-control" name="txtSubEndTime" id="txtSubEndTime" readonly />
                </td>
                <td>
                    <label class="control-label"><strong>Postal Code</strong></label>
                </td>
                <td>
                    <input type="text" class="form-control" name="txtPostaCode" id="txtPostaCode" readonly />
                </td>

            </tr>


            <tr>
                <td>
                    <label class="control-label"><strong>Pre Bid Meeting Date</strong></label>
                </td>
                <td>
                    <input type="text" class="form-control" name="txtPrebidMeetDte" id="txtPrebidMeetDte" readonly />
                </td>
                <td>
                    <label class="control-label"><strong>City</strong></label>
                </td>
                <td>
                    <input type="text" class="form-control" name="txtCity" id="txtCity" readonly />
                </td>
            </tr>

            <tr>
                <td>
                    <label class="control-label"><strong>Pre-Bid Meeting Address</strong></label>
                </td>
                <td>
                    <input type="text" class="form-control" name="txtPrebidMtAddress" id="txtPrebidMtAddress" readonly />
                </td>
                <td>
                    <label class="control-label"><strong>Country</strong></label>
                </td>
                <td>
                    <input type="text" class="form-control" name="txtCountry" id="txtCountry" readonly />
                </td>

            </tr>

            <tr>
                <td>
                    <label class="control-label"><strong>Bid Opening Date</strong></label>
                </td>
                <td>
                    <input type="text" class="form-control" name="txtBidOpendate" id="txtBidOpendate" readonly />
                </td>
                <td>
                    <label class="control-label"><strong>Phone Number</strong></label>
                </td>
                <td>
                    <a href="" class="form-control" id="txtPhoneNo"></a>
                </td>
            </tr>

            <tr>
                <td>
                    <label class="control-label"><strong>Bid Opening Time</strong></label>
                </td>
                <td>
                    <input type="text" class="form-control" name="txtBidOpenTime" id="txtBidOpenTime" readonly />
                </td>
                <td>
                    <label class="control-label"><strong>Email Contact</strong></label>
                </td>
                <td>
                    <a href="" id="hrefEmail"></a>
                </td>
            </tr>

            <tr>
                <td>
                    <label class="control-label"><strong>Bid Opening Venue</strong></label>
                </td>
                <td>
                    <input type="text" class="form-control" name="txtBidOpenVenue" id="txtBidOpenVenue" readonly />
                </td>
                <td>
                    <label class="control-label"><strong>Tender Box Location</strong></label>
                </td>
                <td>
                    <input type="text" class="form-control" name="txtTenderBoxLoc" id="txtTenderBoxLoc" readonly />
                </td>

            </tr>

            <tr>
                <td>
                    <label class="control-label"><strong>Procuring Entity Name</strong></label>
                </td>
                <td>
                    <input type="text" class="form-control" name="txtProcEntityName" id="txtProcEntityName" readonly />
                </td>
                <td>
                    <label class="control-label"><strong>Primary Tender Submission Address</strong></label>
                </td>
                <td>
                    <input type="text" class="form-control" name="txtPriTendSubAddress" id="txtPriTendSubAddress" readonly />
                </td>

            </tr>*@
</table>

<div class="caption">
    <i class="icon-settings font-green"></i>
    <span class="caption-subject font-green sbold uppercase">Bid / Tender Security Requirements</span>
</div>
<p>The section below lists the accepted forms of Bid/Tender security that the tenderer can submit. Please take note of the
validity dates, mimimum value/Amount (In local currency) and the issuing institutions that are acceptable</p>
   

<table class="table table-striped table-bordered table-hover table-responsive" id="tbl_bid_sec_reqs">
    <thead>
    <tr>
        <th>Form of Security</th>
        <th>Security Type</th>
        <th>Nature of Security </th>
        <th>Description</th>
        <th>Minimum Bid Security Amount (K.E.S)</th>
        <th>Bid Security Validity Expiry Date</th>
    </tr>
    </thead>
    <tbody></tbody>
</table>

<table class="table table-striped table-bordered table-hover table-responsive">

    <tr>
        <td colspan="4">
            <div class="caption">
                <i class="icon-settings font-green"></i>
                <span class="caption-subject font-green sbold uppercase">Tender Processing Fees</span>
            </div>
        </td>
    </tr>
    <tr>
        <td>
            <label class="control-label"><strong>Bid Charge Code</strong></label>
        </td>
        <td>
            <input type="text" class="form-control" name="txtBidchrgCode" id="txtBidchrgCode" readonly />
        </td>

        <td>
            <label class="control-label"><strong>Bank account name</strong></label>
        </td>
        <td>
            <input type="text" class="form-control" name="txtBankaccName" id="txtBankaccName" readonly />
        </td>
    </tr>
    
    

    
    <tr>
        <td>
            <label class="control-label"><strong>Bid Charge Code</strong></label>
        </td>
        <td>
            <input type="text" class="form-control" name="txtBidchrgCode" id="txtBidchrgCode" readonly />
        </td>

        <td>
            <label class="control-label"><strong>Bank account name</strong></label>
        </td>
        <td>
            <input type="text" class="form-control" name="txtBankaccName" id="txtBankaccName" readonly />
        </td>
    </tr>
    
    <tr>
        <td>
            <label class="control-label"><strong>Bid Charge Code</strong></label>
        </td>
        <td>
            <input type="text" class="form-control" name="txtBidchrgCode" id="txtBidchrgCode" readonly />
        </td>

        <td>
            <label class="control-label"><strong>Bank account name</strong></label>
        </td>
        <td>
            <input type="text" class="form-control" name="txtBankaccName" id="txtBankaccName" readonly />
        </td>
    </tr>
</table>
